{% extends 'base.html' %}

{% block body %}
  <h1>상세페이지</h1>
  <p>번호 : {{ article.pk }}</p>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>생성일자 : {{ article.created_at|date:'M-d-Y' }}</p>
  <p>수정일자 : {{ article.updated_at|date:"SHORT_DATE_FORMAT" }}</p>
  <a href="{% url 'articles:index' %}">목록보기</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
  <a href="{% url 'articles:update' article.pk %}">수정하기</a>
{% endblock %}