{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}
  <h1>상세페이지</h1>
  <p>번호 : {{ article.pk }}</p>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성자 : {{ article.user }}</p>
  <p>생성일자 : {{ article.created_at|date:'M-d-Y' }}</p>
  <p>수정일자 : {{ article.updated_at|date:"SHORT_DATE_FORMAT" }}</p>
  <a href="{% url 'articles:index' %}">목록보기</a>
  {% if article.user == request.user %}
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제하기">
  </form>
  <a href="{% url 'articles:update' article.pk %}">수정하기</a>
  {% endif %}

  {% if user.is_authenticated %}
  <form action="{% url 'articles:create_comment' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <input type="submit">
  </form>
  {% endif %}
  <hr>
  <h2>해시태그 목록</h2>
    <p><strong>
      해시태그 : {% for tag in article.hashtags.all%} {{ tag.content }} {% endfor %}
    </strong></p>
  <hr>
  <h2>좋아요 목록 </h2>
  <p>좋아요 : <span id='like-counter'>{{ article.like_users.count }}</span></p>
  {% with likers=article.like_users.all %}
    <!-- <p>좋아요 목록 : 
      {% for u in likers %}
        {{ u }}
      {% endfor %}
    </p> -->
    {% if user in article.like_users.all %}
      <button data-name='john' data-id="{{ article.pk }}" class="btn btn-outline-primary" id='like-button'>좋아요 취소</button>
    {% else %}
      <button data-name='john' data-id="{{ article.pk }}" class="btn btn-primary" id='like-button'>좋아요</button>
    {% endif %}
  {% endwith %}
  
  <hr>
  <h2>댓글목록</h2>
  {% for comment in comments %}
  <p>{{ comment.user }}님의 댓글 : {{ comment.content }} </p>
  {% endfor %}
  <script>
    //좋아요 버튼 클릭 -> 좋아요 DB 업데이트하고 버튼을 바꿔줌
    const likeButton = document.querySelector('#like-button')
    likeButton.addEventListener('click', function(e){
      // 좋아요 DB 업데이트 === articles/:id/like 요청을 보냄
      const articleID = e.target.dataset.id
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/articles/${articleID}/like/`)
          .then(res => {
            // 버튼을 좋아요 취소로/좋아요로
            if (res.data.liked === true){
              console.log(res.data)
              e.target.classList.remove('btn-primary')
              e.target.classList.add('btn-outline-primary')
              e.target.innerText = '좋아요취소'
            }
            else{
              e.target.classList.remove('btn-outline-primary')
              e.target.classList.add('btn-primary')
              e.target.innerText = '좋아요'
            }

            const counterSpan = document.querySelector('#like-counter')
            counterSpan.textContent = res.data.count
          })
      })
    
  </script>
{% endblock %}